<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Donger Generator</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/animate.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <link rel='shortcut icon' href='/favicon.png' type='public/png/'>
    <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>
  <body>
    <div id="top" class="wow slideInDown">
      <h1>Generate a Donger!</h1>
    </div>
    <form method="POST" action="/yourdonger">
      <div class="sec wow slideInLeft">
        <h2>Race</h2>
        <div class="cont">
          <input type="radio" name="race" value="human">Human
          <br>
          <input type="radio" name="race" value="animal">Animal
          
        </div>
      </div>
      
      <div class="sec wow slideInRight">
        <h2>Eyes</h2>
        <div class="cont">
          <input type="radio" name="eyes" value="happy">Happy
          <br>
          <input type="radio" name="eyes" value="sad">Sad
          <br>
          <input type="radio" name="eyes" value="scared">Scared
          <br>
          <input type="radio" name="eyes" value="sparkly">Sparkly
          <br>
          <input type="radio" name="eyes" value="determined">Determined
          <br>
          <input type="radio" name="eyes" value="dead">Dead
        </div>
      </div>
      <div class="sec wow slideInLeft">
        <h2>Mouth</h2>
        <div class="cont">
          <input type="radio" name="mouth" value="happy">Happy
          <br>
          <input type="radio" name="mouth" value="animal">Animal
          <br>
          <input type="radio" name="mouth" value="sad">Sad
          <br>
          <input type="radio" name="mouth" value="angry">Angry
          <br>
          <input type="radio" name="mouth" value="disappointed">Disappointed
          <br>
          <input type="radio" name="mouth" value="shocked">Shocked
          <br>
          <input type="radio" name="mouth" value="dead">Dead
        </div>
        
      </div>
      
      <div class="sec wow zoomIn">
      <input class="button" type="submit" value="RAISE YOUR DONGER" name="RAISE YOUR DONGER">
      </div>
      
    </form>
    
    
  </body>
</html>